{%extends 'base.html'%}
{%block content%}
<!--질문 등록-->
<div class = "container">
    <h5 class = "my-3 border-bottom pb-2"> 질문등록 </h5>
    <form method = "post" class = "my-3">

        {{form.csrf_token}} <!--csrf 토큰 오류 해결--> 

        {{form.subject.label}}
        {{form.subject(class = "form-control")}}

        {{form.content.label}}
        {{form.content(class = "form-control")}}

        <!--오류 표시 Start-->
        {% if form.errors %}
        <div class = "alert alert-danger" role = "alert">
            {% for field, errors in form.errors.items() %}
            <strong> {{ form[field].label }}</strong>
            <ul>
                {% for error in errors %}
                <li> {{error}} </li>
                {%endfor%}
            </ul>
            {%endfor%}
        </div>
        {%endif%}
        <!--오류표시 End-->
        <div class = "form-group">
        
        <button type= "submit" class= "btn btn-primary"> 저장하기 </button>
    </form>
</div>
{%endblock%}